body {
	background: var(--light-gray);
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card {
	width: 375px;
	padding: 1rem;
	border-radius: 12px;
	background: var(--white);
}

.card img {
	width: 100%;
	border-radius: 15px;
}

.card h2 {
	font-weight: 700;
	text-align: center;
	margin: 1.5rem 0;
	font-size:1.4rem;
	width:85%;
	margin:1rem auto 1.2rem;
	color: var(--dark-blue);
}

.card p {
	color: var(--grayish-blue);
	text-align:center;
	width:80%;
	font-size:15px;
	margin:0 auto;
}